/* Utilisation de la police d'écriture Poppins */
body {
    font-family: 'Poppins', sans-serif;
    background-color: #202020;
    color: #fff;
}


/* Styles pour le logo */
#logo {
    display: block;
    margin: 1em;
    width: 100px;
    height: 100px;
}

/* Styles pour le menu de navigation */
nav {
    background-color: #292929;
    color: #fff;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    padding: 0;
    margin: 0;
}

nav ul li a {
    display: block;
    padding: 1em;
    text-decoration: none;
    color: #fff;
}

nav ul li:hover {
    background-color: #444;
}


/* Styles pour la liste de produits */
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

li {
    margin: 1em 0;
    padding: 1em;
    background-color: #292929;
    color: #fff;
}

/* Styles pour la liste de produits : effets de transition au survol */
li:hover {
    background-color: #444;
    transition: background-color 0.3s ease-in-out;
}

/* Styles pour le menu déroulant */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #292929;
    z-index: 1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content a {
    color: #fff;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #444;
}


/* Styles pour la liste de produits */
table {
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 2em;
}

th, td {
    text-align: left;
    padding: 1em;
    border-bottom: 1px solid #555;
}

th {
    background-color: #292929;
    color: #fff;
}

td {
    background-color: #202020;
    color: #fff;
}

/* Styles pour la quantité de produit */
input {
    width: 50px;
}

/* Styles pour la somme totale */
#total {
    font-size: 1.5em;
    margin-top: 2em;
    margin-bottom: 1em;
    text-align: right;
}


/* Styles pour le contenu principal */
main {
    max-width: 800px;
    margin: 0 auto;
    padding: 2em;
}

/* Styles pour le pied de page */
footer {
    background-color: #292929;
    color: #fff;
    padding: 1em;
    text-align: center;
}

h1 {
    text-align: center;
    margin: 1em;
}

/* Styles pour les titres de produit */
h2 {
    margin: 0;
}

/* Styles pour les images de produit */
img {
    max-width: 200px;
    max-height: 200px;
    margin: 1em;
    display: block;
}

/* Styles pour les descriptions et prix de produit */
p {
    margin: 0.5em 0;
}

/* Styles pour les boutons d'ajout au panier */
button {
    background-color: #55aaff;
    color: #fff;
    border: none;
    border-radius: 3px;
    padding: 0.5em 1em;
    margin: 1em;
    cursor: pointer;
}

/* Styles pour le bouton de validation du panier */
#validation {
    position: fixed;
    bottom: 0;
    right: 0;
    margin: 1em;
    padding: 0.5em 1em;
    border: none;
    border-radius: 25px;
    background-color: #55aaff;
    color: #fff;
    cursor: pointer;
}

#validation:hover {
    background-color: #3876bf;
}

button:hover {
    background-color: #3876bf;
}


/* Styles pour les liens */
a {
    color: #fff;
}

a:hover {
    color: #ccc;
}

/* Styles pour le formulaire de connexion */
form {
    max-width: 500px;
    margin: 0 auto;
    padding: 2em;
    background-color: #292929;
}

form h2 {
    margin: 0;
}

form label {
    display: block;
    margin-bottom: 1em;
}

form input[type="email"]{
    display: block;
    width: 100%;
    padding: 0.5em;
    border: none;
    border-radius: 3px;
    margin-bottom: 1em;
}

form input[type="password"] {
    display: block;
    width: 100%;
    padding: 0.5em;
    border: none;
    border-radius: 3px;
    margin-bottom: 1em;
}

form button {
    background-color: #55aaff;
    color: #fff;
    border: none;
    border-radius: 3px;
    padding: 0.5em 1em;
    cursor: pointer;
}

form button:hover {
    background-color: #3e8ee0;
}